[Desktop Entry]
Version=1.0
Name=Code meta
Comment=Code meta GUI
Exec=path_to_application

Terminal=false
Type=Application
Categories=Utility;Development;
