<div class="chart-container">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <h1 class="chart-title">Stock Market Risk Meter Oscillator</h1>

    <div class="spacer"></div>

    <h4 class="chart-source">Source: yuetcheukchan&#64;gmail.com | Author: Yuet Chan</h4>

    <!-- <div class="spacer"></div> -->

    <div id="chart"></div>

    <div class="spacer"></div>

    <div class="chart-description">
        <i>The oscillator reflects the average score of selected stocks from manufacturing, consumer services, consumer staples, transportation, and commercial real estate, serving as a proxy for economic health. A score above 6 signals low risk, suggesting strong market conditions and a favorable time to invest. A score below 2 indicates high risk, warning of unfavorable conditions for buying stocks.
        </i>
    </div>
  </div>
  